/* soft reset do css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: helvetica;
}

@media (min-width: 400px){
  body{
    font-size: 14px;
  }
}

@media (min-width: 600px){
  body{
    font-size: 18px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: dimgray;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu ul{
  display: flex;
    justify-content: space-around;
}

.menu li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.menu a {
  display: block;
  padding: 10px 40px;
  transition: background-color 1s, color 1s;
  /* colocar isso para debugar
  background-color: red;
  */
}

.menu a:active,
.menu a:hover {
  background-color: white;
  color: black;
}

.titulo {
  animation: linear 3s animacaotitulo;
}

/* titulo vem da direita
@keyframes animacaotitulo {

  0%{
  transform: translateX(1000px);
  }

  100%{
    transform: translateX(0px);
  }
}*/

@keyframes animacaotitulo {

  0%{
  opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

.site-title{
  color: white;
  text-align: center;
  font-size: 3em;
}

.site-subtitle {
  color: white;
  font-size: 1.5em;
  margin-left: 45px;
}

section h3{
  text-align: center;
}

.contato,
.projs {
  padding: 2em;
  background-color: gray;
  min-height: 100vh;
}

.contato {
  padding: 2em;
  background-color: darkgray;
  min-height: 100vh;
}

.contato h3,
.projs h3 {
  color: white;
  margin-bottom: 1em;
  font-size: 2em;
}

.projs .grid{
  display: grid;
  gap: 2em;
}

@media (min-width: 560px ){
  .projs .grid {
    grid-template-columns: 240px 240px;
    justify-content: center;
  }
}

figcaption {
  color: white;
}

.projs figure{
  text-align: center;
}

.img-projs {
  height: 180px;
  width: 240px;
  object-fit: cover;
  border-radius: 5%;
  transition: transform 500ms;
}

.img-projs:hover{
   transform: scale(1.1);
}

.SF {
  height: 180px;
  width: 240px;
  object-fit: cover;
  border-radius: 5%;
  object-position: bottom;
  transition: transform 500ms;
}

.SF:hover{
   transform: scale(1.1);
}

.contato a {
  color: white;
  font-size: 9em;
  transition: text-shadow 1s;
}

.contato a:active, 
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 10px 10px black;
}

.contato .icons {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}